body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 16px;
}

.w3-half img {
  margin-bottom: -6px;
  margin-top: 16px;
  opacity: 0.8;
  cursor: pointer;
}

.w3-half img:hover {
  opacity: 1;
}

.w3-container,
.w3-panel {
  padding: 0px;
}
.w3-padding-64 {
  padding-top: 0px !important;
  padding-bottom: 20px !important;
}
.w3-bar-block .w3-bar-item {
  width: 100%;
  display: block;
  padding: 8px 5px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}
.w3-red,
.w3-hover-red:hover {
  color: #fff !important;
  background-color: #141923 !important;
}
.w3-large {
  font-size: 16px !important;
}
.w3-xxxlarge {
  font-size: 28px !important;
}
.w3-jumbo {
  font-size: 34px !important;
}

table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
  text-align: left;
}
#table tr:nth-child(even) {
  background-color: #eee;
}
#table tr:nth-child(odd) {
  background-color: #fff;
}
#table th {
  background-color: black;
  color: white;
}
